#__________________________________________BUILD
assemble/build/

#__________________________________________EXTERN
extern/openssl/build/
extern/openssl/tmp32.dbg/
extern/boost/
extern/boost/CMakeLists.txt
extern/vtk/
extern/opencv/3rdparty/ippicv/downloads/
extern/opencv/3rdparty/ippicv/unpack/
extern/opencv/samples/
#__________________________________________TOOL
assemble/tool/__pycache__/
assemble/tool/*.pyc
#__________________________________________PROJECT
assemble/VS2015ARM/
assemble/VS2015x64/
assemble/VS2015/
assemble/VS2013x64/
assemble/VS2013/
assemble/CodeBlockUnixMake/
assemble/UnixMake/
#*__pycache__*




#__________________________________________FILES
*.sdf
*.opensdf
*.suo