#__________________________________________BUILD
build/


#__________________________________________DEPENDENCE
dep/


#__________________________________________EXTERN

extern/openssl/build/
extern/openssl/tmp32.dbg/
extern/boost/
extern/boost/CMakeLists.txt
extern/vtk/
extern/opencv/3rdparty/ippicv/downloads/
extern/opencv/3rdparty/ippicv/unpack/
extern/opencv/samples/




#__________________________________________PROJECT
project/assemble/__pycache__/
project/assemble/assemble.pyc
project/VS2015ARM/
project/VS2015x64/
project/VS2015/
project/VS2013x64/
project/VS2013/
project/CodeBlockUnixMake/
project/UnixMake/
#*__pycache__*




#__________________________________________FILES
*.sdf
*.opensdf
*.suo